* {
    margin: 0;
    padding: 0;
}

#wrapper {
    border: 1px dotted red;
    margin: 0 auto;
    width: 970px;
}

#header {
    background-color: yellowgreen;
    border: 30px solid purple;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 55px 20px 15px;
    padding: 20px 30px;
    text-align: left;
}

.main {
    text-align: center;
}

.info_panels {
    display: inline-block;
    background-color: lightslategray;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
    width: 49%;
}

#sun_img {
    width: 500px;
}

#github {
    height: 250px;
}

video {
    width: 500px;
}

li {
    display: inline-block;
    list-style-type: none;
}